

# Rider & IDEA
.idea/
*.suo
*.user
.vs/
*.iml

# Build results
/obj
*/obj/
*/obj/**
obj/
**/obj/
**/obj/**

**/[Oo]bj/
**/[Bb]in/
[Bb]in/
[Oo]bj/
out/
_ReSharper*/
*.ReSharper
*.DotSettings.user

# NuGet
packages/
*.nupkg
*.snupkg

# Logs
*.log

# User-specific files
*.userprefs

# OS generated
Thumbs.db
Desktop.ini
.DS_Store

# Rider specific
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/shelf/
.idea/dictionaries
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/**/contentModel.xml
.idea/**/modules.xml
