#########################
# .NET build artifacts
#########################
**/bin/
**/obj/
**/out/
*.dll
*.exe
*.app
*.pdb
/obj
/bin

#########################
# Rider & JetBrains IDE
#########################
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/shelf/
.idea/httpRequests/
.idea/dictionaries/
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/**/contentModel.xml
.idea/**/modules.xml

#########################
# VS Code (если используешь)
#########################
.vscode/

#########################
# ReSharper
#########################
_ReSharper*/
*.ReSharper
*.DotSettings.user

#########################
# NuGet
#########################
*.nupkg
*.snupkg
packages/

#########################
# Logs, Cache, Temp
#########################
*.log
*.cache
*.tmp
*.bak
*.swp
*.suo
*.user
*.userprefs

#########################
# System files
#########################
Thumbs.db
Desktop.ini
.DS_Store

#########################
# Rider solution-wide inspection caches
#########################
.idea/.idea.Admission/
